*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    border: .3rem solid black;
    display: flex;
    flex-wrap: wrap;
    /* align-items: baseline; */
    /* height: 50vh; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
}

.box{
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}
.box1{
    background-color: rgb(255, 0, 0);
    /* flex-grow: 1; */
}
.box2{
    background-color: rgb(255, 238, 0);
    /* flex-grow: 1; */
}
.box3{
    background-color: rgb(81, 255, 0);
}
.box4{
    background-color: rgb(255, 0, 221);
}
.box5{
    background-color: blue;
}
.box6{
    background-color: rgb(155, 155, 155);
}